<!doctype html>
<html>
    <head>
        <title>MyClassRoom</title>
        <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
        
        <script type="text/javascript">
            function professorCheck() {
                if (document.getElementById('profCheck').checked) {
                document.getElementById('adminPass').style.display = 'block';
                    }
                else document.getElementById('adminPass').style.display = 'none';
                }
        </script>
    </head>
    <body>
        <h1>Sign up for MyClassroom</h1>
        <div class="form-container">
            <p class='form-header'>Sign up</p>
            <form method='POST'>
                <div class = radios align = "center">
                <input type="Radio" name="role" value="Student" onclick="javascript:professorCheck();" id="studCheck" checked>Student</input>
                <input type="Radio" name="role" value="Professor" onclick="javascript:professorCheck();" id="profCheck" >Professor</input>
                </div>
                <br>
                <div id = "adminPass" style="display:none">
                    Admin Pass: <input type='text' id= 'adminPass' name= 'adminPass'>
                </div>
                <br>
                <label>Full Name:</label>
                    <input type="text" name="name"/><br>
                <label>Username:</label>
                    <input type="text" name="username"/><br>
                <label>Password:</label>
                    <input type="text" name="password"/><br>
                <label>Email:</label>
                    <input type="text" name="email"/><br>
                <label>Favorite Color:</label>
                    <input type="text" name="color"/><br>
                <input type="submit" name="Register"/>
            </form>
        </div>
      
    </body>
</html>